<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.zachlatta.personal-data-warehouse.apple-notes-upload</string>

    <key>ProgramArguments</key>
    <array>
      <string>/Users/zrl/dev/zachlatta/personal-data-warehouse/bin/apple-notes-upload-launchd</string>
    </array>

    <key>StartInterval</key>
    <integer>300</integer>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/zrl/Library/Logs/personal-data-warehouse/apple-notes-upload.launchd.out.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/zrl/Library/Logs/personal-data-warehouse/apple-notes-upload.launchd.err.log</string>
  </dict>
</plist>
